/* fuentes */
@font-face {
    font-family: PfBeau-Regular;
    src: url('./../Assets/Fonts/PFBeauSansPro-Reg.ttf');
  }
  
  @font-face {
    font-family: PfBeau-Bold;
    src: url('./../Assets/Fonts/PFBeauSansPro-Bold.ttf');
  }
  
  @font-face {
    font-family: CenturyGothic, sans-serif;
    src: url('./../Assets/Fonts/CenturyGothic.ttf');
  }
  
  @font-face {
    font-family: CenturyGothicBold;
    src: url('./../Assets/Fonts/CenturyGothicBold.ttf');                                                        
  }
  
  @font-face {
    font-family: CenturyGothicItalic;
    src: url('./../Assets/Fonts/CenturyGothicItalic.ttf');
  }
  
  /* colores */
  .colores {
    color: #43B12E;
    color: #006001;
    color: #666666;
    color: #D41968;
  }
  
  /* textos */
  
  
  .titGeneral {
    font-family: PfBeau-Regular, sans-serif;
    color: #666666;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5px;
  }
  .titulo{
    font-size: 10px;
  }
  .titRazones {
    font-family: PfBeau-Bold, sans-serif;
    color: #43B12E;
    margin-bottom: 5px;
  }
  
  .txtRazones {
    font-family: PfBeau-Regular, sans-serif;
    color: #666666;
    margin-bottom: 5px;
  }
  
  .titConsulta {
    font-family: PfBeau-Bold, sans-serif;
    color: #43B12E;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  
  .txtConsulta {
    font-family: PfBeau-Regular, sans-serif;
    color: #666666;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  
  .txtMensaje {
    font-family: PfBeau-Regular, sans-serif;
    color: red;
    font-size: 12px;
  }
  
  .titFaq {
    font-family: PfBeau-Bold, sans-serif;
    color: #43B12E;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  
  .txtFaq {
    font-family: PfBeau-Regular, sans-serif;
    color: #666666;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  
  p {
    font-family: PfBeau-Regular, sans-serif;
    color: #666666;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0px;
  }
  
  .txtTerminos {
    font-family: PfBeau-Regular, sans-serif;
    color: #666666;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0px;
  }
  
  .linkTerminos,
  .linkTerminos:hover,
  .linkTerminos:active {
    color: #43B12E;
  }
  
  /* botones */
  .btModalServicio {
    text-align: left;
    background-color: #ffffff00 !important;
    border: none !important;
    color: black;
    padding: 0 0 0 30px;
    background-image: url('./../Assets/Images/arrow-green-right.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 15px;
  }
  .btModalServicio:hover,
  .btModalServicio:active,
  .btModalServicio:focus {
    color: black !important;
    text-shadow: 2px 2px 4px #00000060;
    background-color: #ffffff00 !important;
    border: none !important;
  }
  
  .contBtVolverArriba {
    position: fixed;
    right: 0px;
  }
  
  .btVolverArriba {
    padding: 0px;
    background-color: #ffffff00;
    border: none;
  }
  
  .btVerde,
  .btVerde:hover,
  .btVerde:active {
    background-color: #43B12E !important;
    color: white;
    font-size: 16px;
    font-family: PfBeau-Bold, sans-serif;
    padding: 10px 35px;
    border: none;
    border-radius: 25px;
  }
  
  .btVerdeSlider,
  .btVerdeSlider:hover,
  .btVerdeSlider:active {
    background-color: #43B12E !important;
    color: white;
    font-size: 16px;
    font-family: PfBeau-Bold, sans-serif;
    border: none;
    border-radius: 25px;
  }
  
  .btGris,
  .btGris:hover,
  .btGris:active {
    background-color: #666666 !important;
    color: white;
    font-size: 16px;
    font-family: PfBeau-Bold, sans-serif;
    padding: 10px 35px;
    border: none;
    border-radius: 25px;
  }
  
  .contBtConsulta {
    width: 100%;
    padding: 0;
  }
  
  .btConsulta,
  .btConsulta:hover,
  .btConsulta:active {
    background-color: #43B12E !important;
    color: white;
    border: none;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .btConsulta2,
  .btConsulta2:hover,
  .btConsulta2:active {
    background-color: #43B12E !important;
    color: white;
    border: none;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .btConsulta3,
  .btConsulta3:hover,
  .btConsulta3:active {
    background-color: #006001 !important;
    color: white;
    border: none;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  /* inputs */
  .form-select {
    color: #666666;
    background-image: url('./../Assets/Images/icon-triangle-down-green.svg');
  }
  
  label.form-check-label {
    font-family: PfBeau-Bold, sans-serif;
    color: #666666;
  }
  
  .form-control,
  .form-select {
    font-size: 14px;
  }
  
  input.inputDate.form-control {
    padding: .375rem 2.175rem .375rem .75rem;
    background-image: none;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: none;
  }
  
  /* modales */
  .titModal {
    color: black;
    font-family: PfBeau-Bold, sans-serif;
  }
  
  .titModalVerde {
    color: #43B12E;
    font-family: PfBeau-Bold, sans-serif;
  }
  
  .titModalGris {
    color: #666666;
    font-family: PfBeau-Regular, sans-serif;
    margin-bottom: 5px;
  }
  
  .txtModal {
    color: black;
    font-family: PfBeau-Regular, sans-serif;
  }
  
  .txtModalGris {
    color: #666666;
    font-family: PfBeau-Regular, sans-serif;
  }
  
  @media (min-width: 320px) {
    .contBtVolverArriba {
      bottom: 10%;
    }
  
    .titRazones {
      text-align: center;
    }
  
    .txtRazones {
      text-align: center;
    }
  
    .estamosContigo2 {
      width: 100%;
      text-align: center;
    }
  
    .btModalServicio {
      font-size: 18px;
    }
  
    .btVerdeSlider,
    .btVerdeSlider:hover,
    .btVerdeSlider:active {
      width: 100%;
      padding: 10px 5px;
    }
  
    .titModal {
      font-size: 18px;
    }
  
    .titModalVerde {
      font-size: 18px;
    }
  
    .titModalGris {
      font-size: 14px;
    }
  
    .txtModal {
      font-size: 14px;
    }
  
    .txtModalGris {
      font-size: 14px;
    }
  }
  
  @media (min-width: 768px) {
    .contBtVolverArriba {
      bottom: 17%;
    }
    .btVerdeSlider,
    .btVerdeSlider:hover,
    .btVerdeSlider:active{
      width: 388px;
      padding: 10px 35px;
    }
  }
  
  @media (min-width: 992px) {
    .titRazones {
      font-size: 28px;
      line-height: 30px;
      text-align: left;
    }
  
    .txtRazones {
      font-size: 16px;
      line-height: 18px;
      text-align: left;
    }
  
    .estamosContigo2 {
      text-align: left;
    }
    .btVerdeSlider,
    .btVerdeSlider:hover,
    .btVerdeSlider:active{
      width: 90%;
    }
    .txtGeneral {
      width: 65%;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 1440px) {
    .titRazones {
      font-size: 36px;
      line-height: 28px;
    }
  
    .txtRazones {
      font-size: 22px;
      line-height: 28px;
    }
  
    .btModalServicio {
      font-size: 21px;
    }
  
    .titModal {
      font-size: 18px;
    }
  
    .titModalVerde {
      font-size: 18px;
    }
  
    .titModalGris {
      font-size: 18px;
    }
  
    .txtModal {
      font-size: 18px;
    }
  
    .txtModalGris {
      font-size: 18px;
    }
    .btVerdeSlider,
    .btVerdeSlider:hover,
    .btVerdeSlider:active{
      width: 80%;
    }
    .txtGeneral {
      width: 45%;
      margin: 0 auto;
    }
  }
  