ul.pagination {
    justify-content: center;
    border-radius: 5px;
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    margin: 0 1px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

ul.pagination li a.active {
    background-color: #D41968;
    color: white;
    border: 1px solid #D41968;
}