.contGeneralHistorico {
  height: 900px;
  background-image: url('./Assets/Images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.contCardHistorico {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.contTable {
  background-color: white;
  border-radius: 25px;
  padding: 25px;
}

.titHistorico {
  font-family: CenturyGothicBold, sans-serif;
  color: #D41968;
  font-size: 30px;
  line-height: 34px;
  text-align: left;
}

.titBuscar {
  font-family: CenturyGothicBold, sans-serif;
  font-size: 16px;
  color: #D41968;
  margin-bottom: 0px;
}

.tableHeadAdmin {
  background-color: #EDEDED;
  vertical-align: middle;
}

.titTableHistorico {
  font-family: CenturyGothicBold, sans-serif;
  color: #D41968;
  font-size: 18px;
}

.txtTableHistorico {
  font-family: CenturyGothic, sans-serif;
  color: #666666;
  font-size: 16px;
}

.btBuscar {
  background-color: #D41968;
  color: white;
  font-family: CenturyGothicBold, sans-serif;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.btDescargar {
  background-color: #D41968;
  color: white;
  font-family: CenturyGothicBold, sans-serif;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 20px;
}

.btBuscar:hover,
.btDescargar:hover,
.btBuscar:active,
.btDescargar:active {
  background-color: #666666 !important;
}

.active>.page-link,
.page-link.active {
  background-color: #D41968;
  color: white;
  border: 1px solid #D41968;
}

.page-link {
  color: #666666;
}

@media (min-width: 320px) {
  .contGeneralHistorico {
      min-height: 1200px;
  }

  .contTable {
      margin-top: 20px;
  }

  .btBuscar {
      margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .btBuscar {
      margin-top: 0px;
  }
  .contGeneralHistorico {
      min-height: 900px;
  }
}

@media (min-width: 1024px) {
  .contGeneralHistorico {
      min-height: 100%;
  }
}